.bar {
  background-color: rgb(5, 6, 23);
  border-radius: 8px;
  padding: 10px; /* Added padding for better visual spacing */
}
ul.bar .item {
  color: lemonchiffon;
  background-color: transparent;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: font-size 0.3s, text-shadow 0.3s;
}
ul.bar .item:hover {
  font-size: 4rem; 
  text-shadow: 1px 2px 2px lightcyan;
}

ul.bar .item:active {
  color: aliceblue;
}

.item.active {
  color: rgb(240, 245, 255);
  font-weight: bold;
}
