
.card {
    background-color: #fffcfc;
    border: none;
    color: #05060c;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgb(187, 237, 249); */
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: float 3s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-2px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  .card:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(187, 237, 249);
    z-index: 10;
  }
  
  .card .card-header img {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover .card-header img {
    transform: scale(1.1);
  }
  
  .card .card-footer .quizButton {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .card .card-footer .quizButton:hover {
    color: rgb(17, 17, 17);
    background-color: #f8a9da;
    transform: translateY(-3px);
  }
  
  .card .card-footer .quizButton:active {
    transform: translateY(1px);
  }
  .quizButton:hover{
    color: #05060c;
  }
  